.estimate {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -80px;
}

.estimateContainer {
  height: 200px;
  width: 80%;
  background-color: #1d1d1d;
  padding: 25px 30px;
  color: #ffffff;
}

.estimateContainer > h3 {
  font-weight: 400;
  font-size: 22px;
}

.estimateContainer > p {
  font-size: 12px;
  margin-top: 8px;
  color: #c1c1c1;
  max-width: 400px;
}

.inputFieldContainer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textField {
  display: flex;
}

.textField > input {
  border: none;
  background: transparent;
  border-bottom: 1px solid #535353;
  font-family: inherit;
  padding-left: 10px;
  font-size: 14px;
  outline: none;
  color: #dadada;
  font-weight: normal;
  border-radius: 0px;
}

.dropdown {
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.dropdownSelectContainer {
  background-color: #fff;
  margin-left: 10px;
  width: 40px;
  height: 100%;
}

.dropdownSelect {
  width: 30px;
  height: 40px;
  font-family: inherit;
  padding-left: 8px;
  outline: none;
  border: none;
}

.dropdownSelectContainer,
.dropdownSelectContainerTest {
  background-color: #5e5e5e;
  margin-left: 10px;
  width: 40px;
  height: 100%;
  opacity: 0;
}
.dropdownSelectContainerTest {
  opacity: 1;
  margin-right: -40px;
  color: #1d1d1d;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown__image {
  margin-top: 5px;
}

.getEstimateButton {
  height: 60px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #404040;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .estimate {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  .estimateContainer {
    height: 100%;
    width: 90%;
    background-color: #1d1d1d;
    padding: 20px 25px;
    color: #ffffff;
    border-radius: 10px;
  }
  .inputFieldContainer {
    width: 100%;
    flex-direction: column;
  }
  .textField {
    margin: 20px 0px;
    width: 90%;
    justify-content: space-between;
  }
  .textField > input {
    width: 80%;
  }
  .getEstimateButton {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 414px) {
  .estimateContainer > h3 {
    font-size: 20px;
  }
  .estimateContainer > p {
    font-size: 11px;
    margin-top: 8px;
    color: #c1c1c1;
    max-width: 100%;
    padding-right: 20px;
  }
  .dropdownSelectContainerTest {
    margin-right: -60px;
  }
}

@media only screen and (max-width: 375px) {
}
