.estimate {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -80px;
}

.estimateContainer {
  height: 180px;
  width: 80%;
  background-color: #ffffff;
  padding: 30px 50px;
  color: #0e263d;
  border-radius: 8px;
  box-shadow: 1px 1px 7px 1px #ccc;
  position: relative;
}

.estimateContainer > h3 {
  font-weight: 400;
  font-size: 22px;
}

.inputFieldContainer {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.getEstimateButton {
  height: 45px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #11907c;
  border-radius: 7px;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 20px;
}

@media only screen and (max-width: 500px) {
  .estimate {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  .estimateContainer {
    height: 100%;
    width: 90%;
    background-color: #1d1d1d;
    padding: 20px 25px;
    color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .inputFieldContainer {
    width: 100%;
    flex-direction: column;
    margin-top: 30px;
  }
  .getEstimateButton {
    width: 70%;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 414px) {
  .estimateContainer > h3 {
    font-size: 20px;
  }
  .estimateContainer > p {
    font-size: 11px;
    margin-top: 8px;
    color: #c1c1c1;
    max-width: 100%;
    padding: 0px 10px;
    text-align: center;
  }
}

@media only screen and (max-width: 375px) {
}
