.header {
  height: 90px;
  width: 100%;
  border-bottom: 1px solid #d7f1ed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.headerMain {
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-bottom: 1px solid #1f1f1f;
}

.header__logo_one {
  margin-left: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__left {
  margin-left: 8vw;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__left > p {
  margin-left: 10px;
}

.header__logo {
  cursor: pointer;
}

.header__right,
.header__right__main {
  margin-top: 3px;
  margin-right: 8vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__right__main__mobile {
  margin-right: 8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
}

.header__nav > ul {
  display: flex;
}

.header__nav_login > ul {
  display: none;
}

.header__nav > ul > li {
  list-style: none;
  margin-right: 30px;
  font-size: 13px;
  font-weight: 400;
  color: #000000;
  cursor: pointer;
}

.header__nav > ul > li > a {
  text-decoration: none;
  color: #000000;
}

.registerButton__header {
  font-size: 13px;
  font-weight: bold;
  color: #027888;
  margin-right: 20px;
  cursor: pointer;
}

.loginButton__header {
  height: 30px;
  width: 90px;
  border-radius: 10px;
  color: #ffffff;
  background-image: linear-gradient(to right, #000000, #414141);
  -webkit-box-shadow: 0 10px 6px -5px #0000001a;
  -moz-box-shadow: 0 10px 6px -5px #0000001a;
  box-shadow: 0 10px 6px -5px #0000001a;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  transition: all 0.5s ease;
  text-decoration: none;
  cursor: pointer;
}

.loginButton__header:hover {
  background-image: linear-gradient(to left, #000000, #414141);
}

.contactButton__header {
  height: 38px;
  width: 120px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;
  margin-left: 30px;
  background: transparent;
  border-radius: 8px;
  border: 1px solid #ffffff;
  bottom: 5px;
  color: #ffffff;
}

.contactButton__header > div {
  margin-right: 10px;
  margin-top: 5px;
}

.callBlack {
  display: none;
}

.callButton__header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.header__menu__container {
  margin-left: 20px;
  margin-top: 5px;
  display: none;
  cursor: pointer;
}

.header__mobile_container {
  display: none;
}

.nav__header__main > ul {
  display: flex;
}

.nav__header__main > ul > li {
  list-style: none;
  margin-right: 50px;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
  color: #b5b5b5;
  font-weight: bold;
}

.nav__header__main > ul > li:hover {
  color: #11907c;
}

.home__nav__header__main {
  color: #11907c;
  cursor: pointer;
}

.header__right__main__mobile {
  display: none;
}

.header__mobile_container__main {
  display: none;
}

@media only screen and (max-width: 500px) {
  .header__right__main {
    display: none;
  }
  .header__right__main__mobile {
    display: flex;
  }
  .headerMain {
    display: none;
  }
  .menuIcon {
    cursor: pointer;
  }
  .header__menu__container__close {
    margin-left: 15px;
    margin-top: 5px;
    display: none;
    margin-right: -5px;
  }
  .header__mobile_container,
  .header__mobile_container__main {
    height: 70px;
    width: 100%;
    box-shadow: 0 1px 20px 1px #0000001a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }

  .header__mobile_container__main {
    background-color: #0e263d;
    color: #ffffff;
  }

  .header__mobile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    border-bottom: 1px solid #565858;
  }
  .header__menu__container {
    display: block;
  }

  .header__menu__container__close {
    cursor: pointer;
  }
  .header__nav_mobile,
  .header__nav_mobile__main {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
  }
  .header__nav_link,
  .header__nav_link__main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(180px / 4);
    border-bottom: 1px solid #0000001a;
    cursor: pointer;
  }
  .header__nav_link:hover {
    background-color: #027888;
  }

  .header__nav_link__main {
    border-bottom: 1px solid #565858;
  }

  .header__nav_link__main:hover {
    background-color: #d7f1ed;
    color: #0e263d;
  }

  .contactButton__header {
    margin-left: 10px;
  }
  .loginButton__header {
    margin-left: 10px;
  }
}
