.main {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-top: 0px;
}

.main::before {
  background-color: #1b1b1b;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  opacity: 0.8;
}

.main > h1 {
  text-align: center;
  font-size: 45px;
  position: relative;
}

.main > p {
  font-size: 14px;
  max-width: 400px;
  text-align: center;
  margin-top: 10px;
  letter-spacing: 1px;
  position: relative;
  color: #d3d3d3;
}

.buttoneContainer__main__left {
  display: flex;
  margin-top: 40px;
  position: relative;
}

.designMyHomeButton {
  height: 50px;
  width: 160px;
  background-image: linear-gradient(to right, #05996d, #0b75a3);
  border-radius: 8px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f5f5f5;
  cursor: pointer;
}

.signInButton {
  height: 50px;
  width: 150px;
  border: 2px solid #ffffff;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #ffffff;
  margin-left: 20px;
  cursor: pointer;
  border-radius: 8px;
}

.scrollStatusContainer {
  display: flex;
  align-items: center;
  margin-top: 70px;
}

.scrollStatusContainer > span {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  border: 1px solid #11907c;
  margin-right: 20px;
}

.scrollActive {
  background-color: #11907c;
}

.main__right {
  width: 50%;
  margin-right: 8vw;
}

/*  */

.heroImage {
  margin-top: -60px;
  height: 63vh;
  width: 580px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.heroImage > div {
  height: 100%;
  width: 100%;
}

.mainMobile {
  display: none;
}

@media only screen and (max-width: 500px) {
  .main {
    display: none;
  }
  .mainMobile {
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .mainMobile::before {
    background-color: #1b1b1b;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    opacity: 0.8;
  }
  .mainMobile > h1 {
    margin-top: 20px;
    text-align: center;
    max-width: 400px;
    font-size: 50px;
    position: relative;
  }
  .mainMobile > p {
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
    max-width: 400px;
    position: relative;
    color: #d3d3d3;
  }
  .buttoneContainer__main__left {
    margin-top: 40px;
    align-items: center;
    justify-content: center;
  }
  .hero__mobile__image {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
}

@media only screen and (max-width: 414px) {
  .mainMobile {
    height: calc(83vh - 20px);
  }
  .mainMobile::before {
    height: calc(83vh - 20px);
  }
  .mainMobile > h1 {
    font-size: 28px;
  }
  .mainMobile > p {
    font-size: 12px;
  }
  .hero__mobile__image {
    height: 50%;
  }
}

@media only screen and (max-width: 375px) {
  .mainMobile {
    height: calc(90vh - 20px);
  }
  .mainMobile::before {
    height: calc(90vh - 20px);
  }
  .mainMobile > h1 {
    font-size: 25px;
  }
  .mainMobile > p {
    font-size: 11px;
  }
  .hero__mobile__image {
    height: 45%;
  }
}
