.bgContainer__profileDetails {
  margin: 110px 8vw;
  margin-bottom: 50px;
}

.stagePayment {
  margin-top: 10px;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  box-shadow: 0 1px 20px 1px #0000001a;
  padding: 20px;
  margin-top: 20px;
}

.containers__stagePayments {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.stagePaymentsContainer {
  width: 40%;
}

.stagePayment > h4 {
  margin-bottom: 10px;
  color: #1c9c76;
}

.row_stage_payment {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.completed__button {
  height: 40px;
  width: 100px;
  background-color: #0fa958;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.payAmount__button {
  height: 40px;
  width: 100px;
  border: 1px solid #027888;
  border-radius: 5px;
  color: #027888;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.payAmount__button:hover {
  background-image: linear-gradient(to right, #027888, #1c9c76);
  bottom: none;
  color: #ffffff;
}

.payAtOneTimeContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  display: flex;
  border-radius: 5px;
  box-shadow: 0 1px 20px 1px #0000001a;
  padding: 20px;
  margin-top: 20px;
}

.payAtOneTimeContainer > h4 {
  font-weight: bold;
  margin-bottom: 10px;
}

.payAtOneTime {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.payAtOneTime__bottom {
  border-top: 1px solid #0000001a;
  padding: 10px 0px;
}

.payAllButton {
  height: 40px;
  width: 100%;
  background-image: linear-gradient(to right, #027888, #1c9c76);
  border-radius: 5px;
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
  cursor: pointer;
  margin-top: 20px;
}

.payAllButton:hover {
  background-image: linear-gradient(to left, #027888, #1c9c76);
}

@media only screen and (max-width: 500px) {
  .bgContainer__profileDetails {
    margin: 90px 8vw;
    margin-bottom: 100px;
  }
  .containers__stagePayments {
    flex-direction: column;
  }
  .stagePaymentsContainer {
    width: 100%;
  }
  .completed__button {
    height: 30px;
    width: 80px;
    font-size: 11px;
  }
  .payAtOneTimeContainer {
    width: 100%;
  }
}
